        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Priceless Memories</h1>
                    <hr>
                    <p>Relive those special moments, our community is full of passionate photographers.
                        <!-- <a class="btn btn-white-keyline btn-lg" href="/">Vind een fotograaf -->
                        </a><div class="hero-profile-link">
                        Photographer? <a href="/users/sign_up">Sign up </a>.</p>

                        <a href="#how-it-works" class="btn btn-primary btn-xl page-scroll">Find out more</a>
                    </div>
                </div>
            </header>