        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Priceless Memories</h1>
                    <hr>
                    <p>Relive those special moments, our community is full of passionate photographers.
                        <!-- <a class="btn btn-white-keyline btn-lg" href="/">Vind een fotograaf -->
                    </a><div class="hero-profile-link">
                    Photographer? <a href="/users/sign_up">Sign up </a>.</p>
                    <a href="#how-it-works" class="btn btn-primary btn-xl page-scroll">Find out more</a>
                    <div class="hero_content-footer text-center">
                        <form action="#" class="form-inline">
                          <input type="text" class="form-control input-lg" placeholder="Location">
                          <!--   <input type="text" class="form-control input-lg" placeholder="Check-out"> -->
                          <select name="" id="" class="form-control input-lg">
                            <option value="1">Wedding</option>
                            <option value="2">Panorama</option>
                            <option value="3">Portaits</option>
                        </select>
                        <input type="submit" class="btn btn-primary btn-lg buttonpink" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </header>