 <section id="how-it-works">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>This is how it works</h3>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="how-it-works-bucket">
                                <i class="fa fa-5x fa-home wow bounceIn text-primary"></i>
                                <span class="step-number">Stap 1</span>
                                <h4>Find a photographer in our communtity</h4>
                                <p>
                                Filter based on experience and specialty. Whatever You are looking for we make sure you will get the best match 
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="how-it-works-bucket">
                             <i class="fa fa-5x fa-comments wow bounceIn text-primary"></i>                            
                             <span class="step-number">Stap 2</span>
                             <h4>Connect With Your Matches</h4>
                             <p>Reach out to potential hires through our platform by instant messaging or by phone call.</p>
                         </div>
                     </div>
                     <div class="col-xs-12 col-sm-4">
                        <div class="how-it-works-bucket">
                            <i class="fa fa-5x fa-check wow bounceIn text-primary"></i>                            
                            <span class="step-number">Stap 3</span>
                            <h4>Shortlist Your Favorites and Hire</h4>
                            <p>Narrow down your results and hire the one that stands out. Easy.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg btn-default btn-primary" href="/photographers/near" role="button" title="Begin Your Search">Zoek nu</a>
                    </div>
                </div>
            </div>
            <br>
        </section>