<section class="no-padding" id="add">
  <div class="background-booking">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="title-booking">
            Bookings
          </div>
          <div class="content-booking">
            <% @bookings.each do |booking| %>
              <div><%= booking.photographer.first_name %></div>
              <div><%= booking.date %></div>
              <div><%= booking.status %></div>
              <div><%= booking.message %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
