<h1>Photos</h1>

<% @photos.each do |photo| %>

  <% if @query == photo.specialty%>s   
    <%= photo.name %><%= photo.specialty%>
    <%= image_tag photo.photo.url(:standard) %>
  <% end %>
<% end %>

