<h1>Photos#index</h1>



<% @photos.each do |photo| %>

  <% if @query == photo.specialty %>
    <%= photo.name %><%= photo.specialty%>
    <%= image_tag photo.photo.url(:standard) %>
  <% end %>
<% end %>